spring:
  application:
    name: patrones_diseno
  Datasource:
    url: jdbc:postgresql://localhost:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
properties:
  hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

